.masonryGrid {
    display: flex;
    width: 100%;
    margin: 0 auto; /* Center the grid */
  }
  
  .masonry {
    display: flex;
    width: 100%;
  }
  
  .masonryColumn {
    padding-left: 16px; 
    background-clip: padding-box;
  }
  
  .masonryColumn > div {
    margin-bottom: 16px;
  }
  